.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.vid-container {
  position: relative;
  padding-bottom: 52%;
  padding-top: 30px;
  height: 0;
}

.vid-container iframe,
.vid-container object,
.vid-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.vid-list-container1 {
  width: 92%;
  overflow: hidden;
  margin-top: 20px;
  margin-left:4%;
  padding-bottom: 20px;
}

.vid-list-container {
    width: 92%;
    overflow: hidden;
    margin-top: 20px;
    margin-left:4%;
    padding-bottom: 20px;
}

.vid-list {
  width: 1344px;
  position: relative;
  top:0;
  left: 0;
}

.vid-item {
  display: block;
  width: 148px;
  height: 148px;
  float: left;
  margin: 0;
  padding: 10px;
}

.thumb {
  /*position: relative;*/
  overflow:hidden;
  height: 84px;
}

.thumb img {
  width: 100%;
  position: relative;
  top: -13px;
}

.vid-item .desc {
  color: #21A1D2;
  font-size: 15px;
  margin-top:5px;
}

.vid-item:hover {
  background: #eee;
  cursor: pointer;
}

.arrows {
  position:relative;
  width: 100%;
}

.arrow-left {
  color: black;
  font-size:50px;
  position: absolute;
  background: #fff;
  padding: 15px;
  left: -25px;
  top: -130px;
  z-index: 99;
  cursor: pointer;
}

.arrow-right {
  color: black;
  font-size:50px;
  position: absolute;
  background: #fff;
  padding: 15px;
  right: -25px;
  top: -130px;
  z-index:100;
  cursor: pointer;
}

.arrow-left:hover {
  background: #CC181E;
}

.arrow-right:hover {
  background: #CC181E;
}


@media (max-width: 624px) {
  body {
    margin: 15px;
  }
  .caption {
    margin-top: 40px;
  }
  .vid-list-container {
    padding-bottom: 20px;
  }

  /* reposition left/right arrows */
  .arrows {
    position:relative;
    margin: 0 auto;
    width:96px;
  }
  .arrow-left {
    left: 0;
    top: -17px;
  }

  .arrow-right {
    right: 0;
    top: -17px;
  }
}