.container {
  position: relative;
  max-width: 400px;
  margin: auto;
}

.buttonBack {
  position: absolute;
  top: 25%;
  left: -75;
}

.buttonNext {
  position: absolute;
  top: 25%;
  right: -75;
  //transform: translateY(-50%);
}

.dotGroup {
  text-align: center;
}